#divisionModal .modal-header {
    border-bottom: none;
}

#divisionModal .modal-body {
    padding: 0px 20px;
}

#divisionModal .modal-footer {
    justify-content: center;
    border-top: none;
    padding: 0 20px 20px 20px;
}

table .feather {
    width: 20px;
    height: 20px;
}

/* image upload css start */
#imgPreviewId {
    width: 160px;
    height: 140px;
    border-radius: 5px;
}

.imgUploadCard {
    border: 1px solid #e9ecef;
    border-radius: 5px;
}

.imgUploadCard label {
    display: block;
    background: #e9ecef;
    padding: 5px 10px;
}

/* image upload css end */


/* image upload css start */
#imgPreviewId {
    width: 160px;
    height: 140px;
    border-radius: 5px;
    border: 1px solid #e9ecef;
}

/* image upload css end */
.btn-icon .fa-solid {
    font-size: 12px !important;
}




/* img modal part start */

#imgModal.modal {
    --bs-modal-width: 1000px;
}

#imgModal .modal-header {
    border-bottom: none;
}

#imgModal .modal-footer {
    border-top: none;
}

#imgModal .modal-body {
    padding: 0px 15px;
}

.imgMain {
    display: flex;
    height: 353px;
}

.addNewFlex {
    border: 1px solid #e6e2e2;
    padding: 15px;
    border-radius: 5px;
    width: 100%;
    transition: all linear .9s;
    height: 353px;
    overflow-y: scroll;
}

.imgShow {
    width: 0px;
    height: 0;
    transition: all linear 1s;
    opacity: 0;
}

.imgShow.active {
    flex: 0 0 30%;
    opacity: 1;
    display: block;
    transition: all linear .8s;
    margin-left: 3%;
    height: auto;
}

.addImgInput {
    display: grid;
    grid-template-columns: 120px 1fr 100px;
    gap: 10px;
    align-items: center;
}



.ImgList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 10px;
}

.imgShowBtn img {
    width: 100%;
    height: 150px;
    cursor: pointer;
    border-radius: 5px;
    transition: all linear .9s;
}

.imgShowBtn:hover img {
    box-shadow: 0 0 10px #8a8989;
    transform: translateY(-1px);
    transition: all linear .5s;
}

.imgShowBtn {
    border-radius: 5px;
    border: 1px solid #f0f0f0;
}

.imgLeft {
    border: 1px solid #e6e2e2;
    background: #fff;
    padding: 15px;
    border-radius: 5px;
}

.imgLeft img {
    width: 100%;
    height: 160px;
    border-radius: 5px;
}

.imgSearch {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.search {
    width: 320px;
    display: flex;
}

.searchTerm {
    width: 100%;
    border: 1px solid #e6e2e2;
    border-right: none;
    padding: 6px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #A5A5A5;
}

.searchTerm:focus {
    color: #333;
}

.searchButton {
    width: 45px;
    border: 1px solid #e6e2e2;
    background: #e6e2e2;
    text-align: center;
    color: #9c9b9b;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}

@media (max-width:767px) {
    .mmb30{
        margin-bottom:30px;
    }
    div.dataTables_wrapper div.dataTables_filter input {
        margin-top: 15px;
    }
    .card-body h3{
        margin-bottom: 20px!important;
    }
    .table {
        width: 900px !important;
    }
    .imgMain {
        flex-wrap: wrap;
    }

    .ImgList {
        grid-template-columns: 1fr;
    }

    .imgShow.active {
        flex: 0 0 100%;
        margin-left: 0px;
        margin-top: 30px;
    }

    .addImgInput {
        grid-template-columns: 1fr;
    }

    .addImgInput .btn {
        width: 100px;
        margin: auto;
    }

    .search {
        width: 265px;
        display: flex;
    }
}

/* icon start  */
.link-arrow {
    font-size: 9px;
}

.font-awesome {
    font-size: 20px;
}

/* icon end  */

/* img modal part end */
.sidebar-dark .sidebar .sidebar-body .nav .nav-item.active .nav-link .link-title,
.sidebar-dark .sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title {
    color: #fff;
    font-weight: bold;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded=true] {
    color: #fff;
    font-weight: bold;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active {
    color: #fff;
    font-weight: bold;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active::before {
    border: 1px solid #fff;
    background: #fff;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover::before {
    border: 1px solid #fff;
    background: #fff;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link:hover {
    color: #fff;
    font-weight: bold;
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    background: #fff;
}

/* loader part start */
.loader-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    align-items: center;
    background-color: #f9fafb;
    justify-content: center;
}

.loaded .loader-wrapper {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.8s ease-out;
    transition: all 0.8s ease-out;
}

.loader-wrapper .loader {
    font-size: 10px;
    margin: 50px auto;
    text-indent: -9999em;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: -moz-linear-gradient(left, #6571ff 10%, rgba(0, 0, 0, 0) 42%);
    background: -webkit-linear-gradient(left, #6571ff 10%, rgba(0, 0, 0, 0) 42%);
    background: -o-linear-gradient(left, #6571ff 10%, rgba(0, 0, 0, 0) 42%);
    background: -ms-linear-gradient(left, #6571ff 10%, rgba(0, 0, 0, 0) 42%);
    background: linear-gradient(to right, #6571ff 10%, rgba(0, 0, 0, 0) 42%);
    -webkit-animation: loading 1.4s infinite linear;
    animation: loading 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}

.loader-wrapper .loader.loader:before {
    width: 50%;
    height: 50%;
    background: #6571ff;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}

.loader-wrapper .loader.loader:after {
    background: #f9fafb;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

@-webkit-keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes loading {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* loader part end */
.sidebar-dark .sidebar .sidebar-body .nav .nav-item.active .nav-link .link-title,
.sidebar-dark .sidebar .sidebar-body .nav .nav-item:hover .nav-link .link-title {
    color: #fff !important;
}

.sidebar .sidebar-body .nav .nav-item.active .nav-link::before {
    content: "";
    width: 3px;
    height: 26px;
    background: #fff !important;
    position: absolute;
    left: -25px;
}

.sidebar-dark .sidebar .sidebar-body .nav .nav-item .nav-link[aria-expanded=true] {
    color: #b3c2df !important;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item .nav-link.active {
    color: #fff !important;
}

.nav-link:focus,
.nav-link:hover {
    color: #fff !important;
}

.sidebar .sidebar-body .nav.sub-menu .nav-item:hover .nav-link::before {
    border: 1px solid #fff !important;
    background: #fff !important;
}


.form-label {
    color: #363636;
    font-weight: bold;
}

.active .collapse {
    display: block !important;
}

.float-right {
    float: right;
    margin-left: 1px;
}

table.dataTable {
    border-collapse: collapse !important;
}

.invoiceInput {
    width: 110px;
    padding: 5px 8px;
    border: 1px solid #ddd;
    text-align: right;
    border-radius: 3px;
}

.textRight {
    text-align: right !important;
}

.productFlex {
    display: flex;
    gap: 10px;
}

.productImg img {
    width: 90px;
}

table.dataTable thead>tr>td.sorting,
table.dataTable thead>tr>td.sorting_asc,
table.dataTable thead>tr>td.sorting_asc_disabled,
table.dataTable thead>tr>td.sorting_desc,
table.dataTable thead>tr>td.sorting_desc_disabled,
table.dataTable thead>tr>th.sorting,

table.dataTable thead>tr>th.sorting_asc,
table.dataTable thead>tr>th.sorting_asc_disabled,
table.dataTable thead>tr>th.sorting_desc,
table.dataTable thead>tr>th.sorting_desc_disabled {
    cursor: pointer;
    position: relative;
    padding-right: 8px;
}

.productBorder {
    border: 1px solid #f0f0f0;
    border-collapse: separate;
    padding: 8px 8px 0px 8px;
    border-radius: 5px;
}

.custom_box_with_shadow {
    box-shadow: 1px 1px 5px 1px gray;
    border-radius: 2px;
    padding: 5px 5px 10px 5px;
    margin-bottom: 10px;
}
.select2-container {
    display: block!important;
}
